<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>blast0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 38}, {84, 82}}</string>
			<key>spriteOffset</key>
			<string>{-7, -7}</string>
			<key>spriteSize</key>
			<string>{84, 82}</string>
			<key>spriteSourceSize</key>
			<string>{154, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{554, 420}, {84, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>blast1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 10}, {140, 134}}</string>
			<key>spriteOffset</key>
			<string>{-7, -5}</string>
			<key>spriteSize</key>
			<string>{140, 134}</string>
			<key>spriteSourceSize</key>
			<string>{154, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{450, 284}, {140, 134}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>blast2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {142, 142}}</string>
			<key>spriteOffset</key>
			<string>{-5, -1}</string>
			<key>spriteSize</key>
			<string>{142, 142}</string>
			<key>spriteSourceSize</key>
			<string>{156, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{306, 364}, {142, 142}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>blast3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {148, 144}}</string>
			<key>spriteOffset</key>
			<string>{-4, -0}</string>
			<key>spriteSize</key>
			<string>{148, 144}</string>
			<key>spriteSourceSize</key>
			<string>{156, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{156, 364}, {148, 144}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>blast4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {154, 144}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{154, 144}</string>
			<key>spriteSourceSize</key>
			<string>{156, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 364}, {154, 144}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>blast5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 16}, {140, 108}}</string>
			<key>spriteOffset</key>
			<string>{7, 2}</string>
			<key>spriteSize</key>
			<string>{140, 108}</string>
			<key>spriteSourceSize</key>
			<string>{154, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{640, 62}, {140, 108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bomb0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {79, 79}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{79, 79}</string>
			<key>spriteSourceSize</key>
			<string>{79, 79}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{606, 172}, {79, 79}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bomb1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {102, 90}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{102, 90}</string>
			<key>spriteSourceSize</key>
			<string>{102, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{450, 420}, {102, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bomb2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {117, 102}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{117, 102}</string>
			<key>spriteSourceSize</key>
			<string>{117, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{484, 62}, {117, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bomb3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {46, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{46, 53}</string>
			<key>spriteSourceSize</key>
			<string>{46, 53}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 62}, {46, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bullet.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {50, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{50, 50}</string>
			<key>spriteSourceSize</key>
			<string>{50, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{48, 62}, {50, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bullet1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {84, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 94}</string>
			<key>spriteSourceSize</key>
			<string>{88, 94}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{640, 407}, {84, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e-10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {350, 230}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{350, 230}</string>
			<key>spriteSourceSize</key>
			<string>{350, 230}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 132}, {350, 230}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {130, 150}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{130, 150}</string>
			<key>spriteSourceSize</key>
			<string>{130, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{352, 132}, {130, 150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {176, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{176, 130}</string>
			<key>spriteSourceSize</key>
			<string>{176, 130}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{802, 0}, {176, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>e2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {120, 109}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{120, 109}</string>
			<key>spriteSourceSize</key>
			<string>{122, 109}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{484, 172}, {120, 109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>plane0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {112, 122}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{112, 122}</string>
			<key>spriteSourceSize</key>
			<string>{112, 122}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{592, 283}, {112, 122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>plane1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {112, 114}}</string>
			<key>spriteOffset</key>
			<string>{0, 4}</string>
			<key>spriteSize</key>
			<string>{112, 114}</string>
			<key>spriteSourceSize</key>
			<string>{112, 122}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{706, 172}, {112, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>planeHP.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {800, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{800, 60}</string>
			<key>spriteSourceSize</key>
			<string>{800, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {800, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 512}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>airfightSheet</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>airfightSheet</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>